.cards {
    display: grid;
    grid-template-columns: repeat(3, 282px);
    grid-template-rows: repeat(2, 362px);
    gap: 17px;
    color: #000;
    justify-content: center;
}

@media screen and (max-width: 1023px) {
    .cards {
        grid-template-columns: repeat(2, 282px);
        grid-template-rows: repeat(3, 362px); 
    }
}

@media screen and (max-width: 767px) {
    .cards {
        grid-template-columns: repeat(1, 282px);
        grid-template-rows: repeat(6, 362px); 
    }
}
