.popup {
    margin: 0;
    padding: 0;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    align-items: flex-start;
    background: rgba(0, 0, 0, .5);
    height: 100%;
    width: 100%;
}