.popup__container_image {
    background: none;
    box-shadow: none;
    max-width: 816px;
    min-width: 433px;
}

@media screen and (max-width: 767px) {
    .popup__container_image {
        max-width: 240px;
    }
}