.card__img {
    margin: 0;
    padding: 0;
    /* margin: 0 15px 0 auto; */
    background: transparent url("../../../image/elements/Group.svg") center no-repeat;
    border: none;
    box-sizing: border-box;
    background-size: cover;
    height: 19px;
    width: 22px;
    margin-top: 5px;
    background-size: 22px 19px;
    cursor: pointer;
}

.card__img:hover {
    opacity: .5;
    transition: .8s;
}