.popup__button {
    border: 0;
    margin: 0;
    width: 358px;
    height: 50px;
    cursor: pointer;
    background: #000;
    margin-top: 18px;
    border-radius: 2px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFF;
    margin-bottom: 29px;
}

.popup__button:hover {
    opacity: .8;
    transition: .8s;
}

@media screen and (max-width: 767px) {
    .popup__button {
        margin: 0;
        padding: 0;
        width: 238px;
        height: 46px;
        margin-top: 15px;
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 23px;
    }
}