.footer__teg {
    margin: 0;
    padding: 0;
    display: flex;
    align-self: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
}

@media screen and (max-width: 900px) {
    .footer__teg {
        margin-left: 27px;
    }
}

@media screen and (max-width: 767px) {
    .footer__teg {
        margin-left: 19px;
        font-size: 14px;
        line-height: 17px;
    }
}