.profile__add-button {
    margin: 0;
    padding: 0;
    max-width: 150px;
    width: 100%;
    min-height: 50px;
    margin-left: auto;
    border: 0;
    align-self: center;
    background: url("../../../image/profile/Add-Button.svg") center no-repeat;
    background-color: transparent;
    border: 2px solid #FFF;
    box-sizing: border-box;
    border-radius: 2px;
    cursor: pointer;
}

.profile__add-button:hover {
    opacity: .6;
}

@media screen and (max-width: 900px) {
    .profile__add-button {
        margin-right: 27px;
    }
}

@media screen and (max-width: 767px) {
    .profile__add-button {
        max-width: 100%;
        max-width: 282px;
        margin-left: 0;
        margin-right: 0;
    }
}